body {
  background-image: url('img/1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  color: white;
  font-family: verdana;
  font-size: 300%;
  background-color: burlywood;
}
h2 {
 background-image: url('image/gif.jpg');
 border:2px solid blue;
 padding:20px;
 margin:20px;
}
p {
  color: black;
  font-family: time news roman;
  font-size: 30px;
}
