body {
  background-image: url('image/1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*background-color: black;*/
}
h1 {
  color: white;
  font-family: verdana;
  font-size: 300%;
  background-color: burlywood;
}
h2 {
  /*border:2px solid wheat;
  padding:20px;
  margin:20px;*/
}
p {
 color: white;
 font-family: time news roman;
 font-size: 30px;
}
