body {
  background-image: url('image/1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*background-color: black;*/
}
h1 {
  color: white;
  font-family: verdana;
  font-size: 300%;
  background-color: burlywood;
}
h2 {
background-image: url('image/gif.jpg');
 border:2px solid wheat;
 background-size: cover;
}
p {
  color: white;
  font-family: time news roman;
  font-size: 30px;
}
